.login-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px #7F8487;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-login {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .btn-login:hover {
    background-color: grey;
  }
  
  .additional-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .forgot-password {
    text-decoration: none;
    color: #999;
    font-size: 14px;
  }
  
  .btn-signup {
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-signup:hover {
    background-color: grey;
  }
  .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .icon-container i {
      font-size: 48px;
    }
    